body{
  margin: 0;
  width: 100%;
  height: 100vw;
}
.img{
  float: left;
  width: 30%;
  height: 30%;
  background: rgb(254,165,0);
  margin: 2.5%  0 0 2.5%;
  border-radius: 15%;
}































/* html{
  font-size: 10px;
}
@media only screen  and (min-width: 350px){
  html{
    font-size: 11px !important;
  }
}
@media only screen  and (min-width: 400px){
  html{
    font-size: 12.7px !important;
  }
}
@media only screen  and (min-width: 450px){
  html{
    font-size: 13.9px !important;
  }
}
@media only screen  and (min-width: 500px){
  html{
    font-size: 15px !important;
  }
}
@media only screen  and (min-width: 550px){
  html{
    font-size: 16px !important;
  }
}
@media only screen  and (min-width: 600px){
  html{
    font-size: 17px !important;
  }
}
@media only screen  and (min-width: 650px){
  html{
    font-size: 19px !important;
  }
}
@media only screen  and (min-width: 700px){
  html{
    font-size: 20.5px !important;
  }
}
@media only screen  and (min-width: 750px){
  html{
    font-size: 21px !important;
  }
}
@media only screen  and (min-width: 800px){
  html{
    font-size: 22px !important;
  }
}
@media only screen  and (min-width: 850px){
  html{
    font-size: 22.5px !important;
  }
}
@media only screen  and (min-width: 900px){
  html{
    font-size: 24px !important;
  }
}
@media only screen  and (min-width: 950px){
  html{
    font-size: 25px !important;
  }
}
@media only screen  and (min-width: 1000px){
  html{
    font-size: 26px !important;
  }
}
@media only screen  and (min-width: 1050px){
  html{
    font-size: 28px !important;
  }
}
@media only screen  and (min-width: 1100px){
  html{
    font-size: 30px !important;
  }
}

@media only screen  and (min-width: 1200px){
  html{
    font-size: 35px !important;
  }
} 
@media only screen  and (min-width: 1300px){
  html{
    font-size: 40px !important;
  }
} 

.img{
  width: 9rem;
  height: 9rem;
  background: rgb(254,165,0);
  float: left;
  margin: .5rem;
  border-radius: 1rem;
} */
