$blue: #5fc0cd;
$white: #fff;
$px-10: 10px;

body {
    margin: 0;
    background: #eee;
}

a {
    text-decoration: none;
    color: $blue;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: $px-10 * 5;
    background: $blue;

    a {
        padding-left: $px-10;
        padding-right: $px-10;
    }

    .title {
        font-weight: 600;
        font-size: 16px;
        color: $white;
    }
}

main {
    .iphone,
    .locked {
        margin-top: $px-10;
        margin-bottom: $px-10;
        height: $px-10 * 5;
        background: $white;
    }

    img {
        vertical-align: middle;
        margin-left: $px-10;
        margin-right: $px-10;
        transform: scale(.7);
    }

    input {
        border: 1px solid transparent;
        border-left: 1px solid #999;
        padding-left: $px-10;
        height: 20px;
        outline: none;
    }

}

footer {
    button {
        width: 100vw;
        height: $px-10 * 4.5;
        border: none;
        font-size: 16px;
        letter-spacing: $px-10 * .5;
        background: $blue;
        color: $white;
    }

    a {
        float: right;
        margin-top: $px-10;
        font-size: 14px;
        color: $blue;
    }
}