body {
  margin: 0;
  background: #eee;
}

a {
  text-decoration: none;
  color: #5fc0cd;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 50px;
  background: #5fc0cd;
}

header a {
  padding-left: 10px;
  padding-right: 10px;
}

header .title {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}

main .iphone,
main .locked {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 50px;
  background: #fff;
}

main img {
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
  transform: scale(0.7);
}

main input {
  border: 1px solid transparent;
  border-left: 1px solid #999;
  padding-left: 10px;
  height: 20px;
  outline: none;
}

footer button {
  width: 100vw;
  height: 45px;
  border: none;
  font-size: 16px;
  letter-spacing: 5px;
  background: #5fc0cd;
  color: #fff;
}

footer a {
  float: right;
  margin-top: 10px;
  font-size: 14px;
  color: #5fc0cd;
}
