$green: #29b078;
.nav-bar {
    a {
        text-decoration: none;
        color: #000000;
        &:hover {
            text-decoration: underline;
        }
    }
    .profession {
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #888;
        .text {
            color: $green;
        }
    }
}

.direction {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    ul {
        display: inline-block;
        -webkit-padding-start: 0;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        .text {
            color: $green !important;
        }
    }
    li {
        list-style: none;
        display: inline-block;
    }
    .title {
        display: inline-block;
    }
}

.develop {
    .box {
        position: relative;
        &:hover .ios {
            display: block;
        }
    }
    &.container > *:nth-child(1) {
        padding-bottom: 20px;
        border-bottom: 1px solid #aaa;
    }
    .items {
        .item {
            float: left;
            width: 30%;
            .box {
                margin-top: 30px;
                border: 1px solid #ccc;
            }
        }
        .item.flag {
            margin-left: 4%;
            margin-right: 4%;
        }
    }
    .table-header {
        border-bottom: 1px solid #ccc;
        .portrait img {
            width: 110px;
            height: 110px;
            padding: 10px 0 10px 10px;
        }
        .portrait,
        .intro {
            float: left;
        }
        .portrait {
            width: 40%;
        }
        .intro {
            width: 60%;
            h4 {
                margin-top: 0;
                margin-bottom: 0;
            }
            .text {
                font-size: 12px;
            }
            & > * {
                padding-top: 20px;
            }
        }
    }
    .table-body {
        .num {
            color: red;
            font-weight: 550;
        }
        .menkan .text,
        .nandu .text,
        .chengzhang > *,
        .xique > * {
            display: inline-block;
        }
        .box-4 {
            border-bottom: 1px solid #ccc;
            & > * {
                box-sizing: border-box;
                float: left;
                width: 50%;
                font-size: 14px;
                padding: 10px 0 10px 10px;
            }
            .title {
                display: inline-block;
                margin-right: 5px;
            }
            .nandu,
            .xique {
                border-left: 1px solid #ccc;
            }

            .menkan,
            .nandu {
                border-bottom: 1px solid #ccc;
            }
        }
        .xinzi {
            border-bottom: 1px solid #ccc;
            display: flex;
            .title {
                width: 40%;
                float: left;
                align-self: center;
                text-align: center;
            }
            .content {
                width: 60%;
                float: left;
                box-sizing: border-box;
                border-left: 1px solid #ccc;
                & > *:nth-last-child(1) {
                    border-bottom: none;
                }
            }
            .year {
                margin-left: 10px;
                margin-right: 4vw;
            }
            .text {
                padding-top: 10px;
                padding-bottom: 10px;
                border-bottom: 1px solid #ccc;
                & > * {
                    white-space: nowrap
                }
            }
        }
        .study,
        .tishi {
            padding: 10px 0 10px 10px;
        }
        .study {
            border-bottom: 1px solid #ccc;
        }
        .tishi {
            color: #cccccc;
        }
        
    }
    .ios {
        position: absolute;
        display: none;
        top: 0;
        z-index: 1;
        text-align: center;
        height: 100%;
        background: rgba(0, 0, 0, .7);
        color: #ffffff;
        .title {
            margin-top: 50px;
            margin-bottom: 30px;
        }
        .content {
            margin-left: 10%;
            margin-right: 10%;
        }
    }
}
footer {
    margin-top: 50px;
}