/* 去掉之后固定定位也失效了 */
*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}


/* header */


header{
  top: 0;
  width: 100vw;
  height: 50px;
  background: rgb(90,192,206);
  position: fixed;
  padding-top: 10px; 
}

/* 用width和height来控制图片的大小 */
/* 调小back图片 */
header .back img{
  width: 10px;
  height: 14px;
}

header .back{
  float: left;
  margin-left: 5px;
  margin-top: 5px;
}

header .title{
  color: #fff;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}


/* main */


/* 背景图得改进 关于背景的知识 */
main .intro{
  width: 100vw;
  height: 160px;
  background-image: url(images/bg.png);
  background-size: cover;
  margin-top: 49.9px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* 调portrait图片的大小 */
main .intro .portrait img{
  width: 80px;
  height: 80px;
}

main .intro > *{
  float: left;
  color: #ffffff;
}

main .intro .portrait{
  margin-left: 20px;
}

main .intro .mess{
  margin-left: 25px;
  font-size: 1.1em;
}

main .intro .mess .name{
  margin-bottom: 10px;
  font-size: 1.1em;
}

/* 调add图片的大小 */
main .intro .mess .add img{
  height: 14px;
}



/* main item-list */

main .item-list .item{
  display: inline-block;
  width: 100vw;
  /* 当限定height时，里面内容会跑出来 */
  /* height: 50px; */
  border-bottom: 1px solid #000;
  font-size: 1.2em;
  line-height: 50px;
  padding: 5px 0;
}

main .item-list .item.title:before{
  display: inline-block;
  content: " ";
  background: rgb(90,192,206);
  width: 3.5px;
  height: 13px;
  margin-left: 10px;
  margin-right: 5px;
}

/* 调star图片的大小 */
main .item-list .item.star img{
  width: 14px;
}

main .item-list .item.star{
  padding-left: 10px;
}

main .a,
main .c{
  border-right: 1.5px solid #ddd;
  padding: 5px 10px;
  color: #ddd;
  font-weight: 550;
}

main .item .b{
  padding-left: 10px;
}

main .item .b.red{
  color: red;
}

main .item.last-item{
  display: flex;
  align-items: center;
  line-height: normal;
  margin-bottom: 60px;
  padding: 18px 0;
}

main .last-item .d{
  line-height: normal;
  padding-left: 15px;
}

main .c{
  white-space: nowrap;
}



/* footer */


footer{
  width: 100vw;
  height: 50px;
  position: fixed;
  background: #fff;
  bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

footer > *{
  width: 48vw;
  height: 95%;
  background: rgb(90,192,206);
  float: left;
  margin: 0 1vw;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: bold;
}

footer .a{
  background: #fff;
  border: 2px solid rgb(90,192,206);
  color: rgb(90,192,206);
}

footer .b{
  background: rgb(90,192,206);
  color: #ffffff;
  border: none;
}